#!/bin/sh

source $HOME/dotfiles/system/functions/docker.sh
source $HOME/dotfiles/system/functions/kubernetes.sh
source $HOME/dotfiles/system/functions/postgresql.sh
source $HOME/dotfiles/system/functions/linux.sh
source $HOME/dotfiles/system/functions/source_dotfiles.sh
source $HOME/dotfiles/system/functions/git.sh
source $HOME/dotfiles/system/functions/open_workspaces.sh
source $HOME/dotfiles/system/functions/install.sh
source $HOME/dotfiles/system/functions/vim_setup.sh
source $HOME/dotfiles/system/functions/ruby.sh
source $HOME/dotfiles/system/functions/scratch.sh
source $HOME/dotfiles/system/functions/misc.sh

link-df(){
  link-als
  link-fun
  link-zsh
  link-zsh-lcl
  link-env
  link-gitignore
  link-vsc-settings
  link-vsc-keybindings
  link-vimrc
  link-bashrc
  link-bash-profile
  link-tool-versions
  link-iex-global
  link_psqlrc
  echo "dotfiles linked"
}

link-gitignore(){
  DEST="$HOME/.gitignore_global"
  ln -sf $HOME/dotfiles/git/gitignore_global $DEST
  print-dest $DEST
}

link-env(){
  DEST="$HOME/.env"
  ln -sf $HOME/dotfiles/system/.env_defualts $DEST
  print-dest $DEST
}

link-zsh(){
  DEST="$HOME/.zshrc"
  ln -sf $HOME/dotfiles/system/.zshrc $DEST
  print-dest $DEST
}

link-zsh-lcl(){
  DEST="$HOME/.zshrc.local"
  ln -sf $HOME/dotfiles/system/.zshrc.local $DEST
  print-dest $DEST
}

link-vimrc(){
  DEST="$HOME/.vimrc"
  ln -sf $HOME/dotfiles/system/.vimrc $DEST
  print-dest $DEST
}

link-bashrc(){
  DEST="$HOME/.bashrc"
  ln -sf $HOME/dotfiles/system/.bashrc $DEST
  print-dest $DEST
}

link-bash-profile(){
  DEST="$HOME/.bash_profile"
  ln -sf $HOME/dotfiles/system/.bash_profile $DEST
  print-dest $DEST
}

link-als(){
  DEST="$HOME/.aliases"
  ln -sf $HOME/dotfiles/system/.aliases $DEST
  print-dest $DEST
}

link-fun(){
  DEST="$HOME/.functions"
  ln -sf $HOME/dotfiles/system/.functions $DEST
  print-dest $DEST
}

link-vsc-settings(){
  DEST="$HOME/Library/Application Support/Code/User/settings.json"
  ln -sf $HOME/dotfiles/vs_code/settings.json $DEST
  print-dest $DEST
}

link-vsc-keybindings(){
  DEST="$HOME/Library/Application Support/Code/User/keybindings.json"
  ln -sf $HOME/dotfiles/vs_code/keybindings.json "$DEST"
  print-dest $DEST
}

link-tool-versions(){
  DEST="$HOME/.tool-versions"
  ln -sf $HOME/dotfiles/.tool-versions "$DEST"
  print-dest $DEST
}

link-iex-global(){
  DEST="$HOME/.iex.exs"
  ln -sf $HOME/dotfiles/elixir/.iex.exs "$DEST"
  print-dest $DEST
}

link_psqlrc(){
  DEST=DEST="$HOME/.psqlrc"
  ln -sf $HOME/dotfiles/postgres/.psqlrc
  print-dest $DEST
}

print-dest(){
  echo "Linked to: $1"
}

destroy-dotfile-links(){
  echo "destroying dotfile links"
  echo "not yet implemented"
}

# Import symlinks
symlink-pre-commit(){
  echo "Linking "
  echo ".git/hooks/pre-commit"
  echo "to"
  echo $HOME/dotfiles/git/hooks/$1-pre-commit
  lang=$1
  ln -svf $HOME/dotfiles/git/hooks/$lang-pre-commit .git/hooks/pre-commit
  chmod +x .git/hooks/pre-commit
}

ssh-jwplatta(){
  ssh-add ~/.ssh/jwplatta_github
  echo "jwplatta_github added"
}

start-jupyter(){
  cd $HOME/Documents/data_science/notebooks
  jupyter notebook
}
