# Create a new directory and enter it
function mk() {
  mkdir -p "$@" && cd "$@"
}

# Open man page as PDF
function manpdf() {
  man -t "${1}" | open -f -a /Applications/Preview.app/
}

# get procore-reporting schemas
get_all_pcr_schemas() {
  find . -path "*lib/procore_reporting/bi_temporal/schemas/*.ex" |
    xargs cat |
    grep BiTemp.*do |
    sed 's/def.*BiT.*\.\(.*\) do/\1/' |
    sort
}

# Source zshrc
src_zsh(){
  source $HOME/.dotfiles/system/.zshrc
  echo "zshrc loaded"
}

# Source aliases
src_als(){
  source $HOME/.dotfiles/system/.aliases
  echo "aliases loaded"
}

# Source functions
src_funs(){
  source $HOME/.dotfiles/system/.functions
  echo "functions loaded"
}

# Kubernetes
pod_connect() {
    pod_name=$1
    kubectl exec -it $pod_name -- /bin/bash
}

pod_select() {
    shipment=$1
    app=$2

    if [[ -n $app ]]; then
        kubectl get pods --selector=shipment=$shipment,app=$app
    else
        kubectl get pods --selector=shipment=$shipment
    fi
}

pcr_pods() {
    shipment=$1
    pod_select $shipment procore-reporting
}

# Import symlinks
symlink_pre_commit_hook(){
  lang=$1
  ln -s $HOME/.dotfiles/git/hooks/$lang-pre-commit-hook .git/hooks/pre-commit
  chmod +x .git/hooks/pre-commit
}

link_dotfiles(){
  ln -sf $HOME/.dotfiles/system/.aliases $HOME/.aliases
  ln -sf $HOME/.dotfiles/system/.functions $HOME/.functions
  ln -sf $HOME/.dotfiles/system/.zshrc $HOME/.zshrc
}
